<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPWRITE_PROJECT_NAME</key>
	<string>&quot;iConnectDuo&quot;</string>
	<key>APPWRITE_PROJECT_ID</key>
	<string>&quot;68a45c19002558882211&quot;</string>
</dict>
</plist>
