<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>We need local network usage for Multipeer Connectivity</string>
	<key>appwriteCollectionID</key>
	<string>68a59456002a3091735d</string>
	<key>appwriteDatabaseID</key>
	<string>68a5944f0006ab9ec718</string>
	<key>NSCameraUsageDescription</key>
	<string>We need camera access to take photos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need microphone access for audio recording.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>We use notifications to remind you about quizzes and matches.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>nearby-interaction</string>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_iConnectDuoApp._tcp</string>
		<string>_iConnectDuoApp._udp</string>
	</array>
</dict>
</plist>
