<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GOOGLE_API_KEY</key>
	<string>${gemini_api_key}</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_iconnect-ni._tcp</string>
	</array>
	<key>NSUserNotificationUsageDescription</key>
	<string>We use notifications to remind you about quizzes and matches.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>nearby-interaction</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>apiKey</key>
	<string>${apiKey}</string>
	<key>appwriteCollectionID</key>
	<string>${appwriteDatabaseID}</string>
	<key>appwriteDatabaseID</key>
	<string>${appwriteCollectionID}</string>
</dict>
</plist>
